:root {
  --background-color: rgb(238, 174, 202);
  --background-color-gradient: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  --app-background: antiquewhite;
  --font-family: "Roboto Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  background: var(--background-color);
  background: var(--background-color-gradient);
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
}

.main--container {
  background: var(--app-background);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main--text {
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
  color: rgb(121, 73, 255);
}

.main--text a {
  text-decoration: none;
}

.main--text--first--verse {
  color: rgb(121, 73, 255);
}

.main--text--second--verse {
  font-size: 3rem;
}

hr {
  size: 2rem;
}

.time--question {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.bus--time--input {
  margin-top: 1rem;
  height: 10vh;
  width: 50vw;
  background-color: antiquewhite;
  border-radius: 2rem;
  font-size: 2rem;
  border-color: rgb(121, 73, 255);
  font-family: var(--font-family);
  text-align: center;
}

.how--long--question {
  margin: 2rem;
  font-size: 1.5rem;
}

.how--long--check--boxes {
  margin-top: 1.5rem;
}

.give--me--answer:hover {
  cursor: pointer;
}

.give--me--answer--input {
  background-color: antiquewhite;
  border: 2px solid blueviolet;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
}

.what--time--sleep,
.what--time--wakeup {
  margin-top: 5rem;
}

.what--time--sleep {
  margin-top: 5rem;
}

.what--time--wakeup {
  font-size: 1.2rem;
}
